.banner {
	background-image: url(../../images/back-cover.jpeg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 30px;
	font-weight: bolder;
		font-family: 'Noto Sans', sans-serif;
	text-align: center;

}

.banner h2 {
	font-size: 18px;
	font-weight: bold;
	opacity: 0.8px;
	margin-bottom: 40px;
		font-family: 'Noto Sans', sans-serif;
	text-align: center;


}

